.items-not-ranked {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 152px;
}

.unranked-cell {
  width: 80px;
  text-align: center;
  margin-left: 3px;
}

.unranked-cell img {
  width: 100%;
  height: 100%;
}
